/002_operacionesAritmeticas/build/
/002_operacionesAritmeticas/dist/
/003_PrecioIVA/build/
/003_PrecioIVA/dist/
/004_Datos/build/
/004_Datos/dist/
/005_ExpresionesMatematicas/dist/
/005_ExpresionesMatematicas/build/
/006_IntercambioDeValores/dist/
/006_IntercambioDeValores/build/
