/002_operacionesAritmeticas/build/
/002_operacionesAritmeticas/dist/
/003_PrecioIVA/build/
/003_PrecioIVA/dist/
/004_Datos/build/
/004_Datos/dist/
/005_ExpresionesMatematicas/dist/
/005_ExpresionesMatematicas/build/
/006_IntercambioDeValores/dist/
/006_IntercambioDeValores/build/
/007_PromedioCalificaciones/build/
/007_PromedioCalificaciones/dist/
/008_PromedioCalificacion/build/
/008_PromedioCalificacion/dist/
/009_Hipotenusa/build/
/009_Hipotenusa/dist/
/010_Funcion01/build/
/010_Funcion01/dist/
/011_EcuacionesSegundoGrado/build/
/011_EcuacionesSegundoGrado/dist/
/012_MayorDosNumeros/build/
/012_MayorDosNumeros/dist/
/013_MayorTresNumeros/dist/
/013_MayorTresNumeros/build/
/014_NumeroParImpar/build/
/014_NumeroParImpar/dist/
/015_NumerpPositvoNegativo/build/
/015_NumerpPositvoNegativo/dist/
/016_VocalMInuscula/build/
/016_VocalMInuscula/dist/
/017_VocalMinusculaMayuscula/build/
/017_VocalMinusculaMayuscula/dist/
/018_RangoNumerico/build/
/018_RangoNumerico/dist/
/019_CoincidenciaNumeros/build/
/019_CoincidenciaNumeros/dist/
/020_NUmerosRomanos/build/
/020_NUmerosRomanos/dist/
